@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-shadow{
    box-shadow: inset 20px 100px 100px rgba(0,0,0,0.8), inset -30px -170px 100px rgba(0,0,0,0.7);
}
li:hover{
    text-decoration:underline;
}